body{
    background-color: #483d8b;
}

.box{
    margin: auto;
    width: 200px;
    height: 200px;
    border: 2px dashed #000000;
}

.cor01{
    background-color: #fa8072;
}

.cor02{
    margin-top: 10px;
    background-color: #6495ed;
}